:root {
	--c2: #eee;
	--c1: #9980B2;
	--c0: #111;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
}
*:focus {
}



dialog.noscript {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	border: unset;
	background: unset;
	padding: unset;
}
div.noscript {
	display: table-cell;
	vertical-align: middle;
}
div.noscript div {
	text-align: center;
	padding: 0 30px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 200;
	color: var(--c2);
	background: var(--c0);
	box-shadow: 0 0 30px 30px var(--c0), 0 0 60px 60px var(--c0), 0 0 150px 300px var(--c0);
}



body::after {
	content: '';
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1IDE1IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBmaWxsPSIjZWVlIiBwb2ludHM9IjAgMTUgMCAwIDAgMCAxNSAwIDE1IDEgMSAxIDEgMTUiLz48L3N2Zz4='),
		linear-gradient(to bottom, var(--c1), var(--c2));
	background-size: 15px, 100%;
	background-position: center -1px, 0 0;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.45;
	color: var(--c0);
	cursor: default;
	text-align: justify;
	text-justify: inter-word;
}



p {
	margin: 0 0 15px;
}
@media (max-width: 799.9px) {
	p {
		margin: 0 0 10px;
	}
}
.row p:last-of-type {
	margin: 0;
}

a {
	text-decoration: underline;
	text-decoration-thickness: .2ch;
	color: var(--c1);
	cursor: pointer;
}



.title, .content {
	padding: 10px;
	border: 2px solid var(--c0);
}
.title {
	background-color: var(--c1);
	font-weight: 600;
	color: var(--c2);
	line-height: 1;
}
i.fab, i.far, i.fas {
	width: 20px;
	text-align: center;
	margin-right: 1ch;
}
.content {
	border-top: 0;
}



header, footer {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
}



header {
	background-color: var(--c2);
	border-bottom: 2px solid var(--c1);
	font-size: 19px;
	line-height: 1;
	padding: 15px 15px 10px;
	display: grid;
	grid-template-columns: 9fr 7fr 2fr 1em;
	grid-template-rows: 1fr;
	gap: 0 15px;
	grid-template-areas: "name cv lang dl";
}
header a {
	text-decoration-style: dotted;
	text-decoration-thickness: .1ch;
	margin-top: 5px;
}
@media (max-width: 639.9px) {
	header {
		background-image:
			url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1IDE1IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBmaWxsPSIjMTExIiBwb2ludHM9IjAgMTUgMCAwIDAgMCAxNSAwIDE1IDEgMSAxIDEgMTUiLz48L3N2Zz4='),
			linear-gradient(to bottom, var(--c0), var(--c1));
		background-size: 15px, 100%;
		background-position: center -1px, 0 0;
		color: var(--c2);
		border-bottom: 2px solid var(--c0);
		grid-template-columns: 3fr 1fr 1em;
		grid-template-rows: 1fr;
		gap: 0 0;
		grid-template-areas: "name name name" "cv lang dl";
	}
	header a {
		color: var(--c2);
		text-decoration-style: solid;
	}
}
header .name {
	grid-area: name;
	padding-left: 30px;
	font-weight: 600;
}
@media (max-width: 799.9px) {
	header .name {
		padding-left: 0;
	}
}
header .cv {
	grid-area: cv;
	font-weight: 200;
}
@media (max-width: 639.9px) {
	header .cv {
		font-size: 15px;
		line-height: 1.45;
		font-weight: 400;
	}
}
header .lang {
	grid-area: lang;
}
@media (max-width: 639.9px) {
	header .lang {
		font-size: 15px;
		line-height: 1.45;
	}
}
header .dl {
	grid-area: dl;
	font-size: 15px;
	line-height: 1.45;
}



footer {
	background-color: var(--c2);
	bottom: 0;
	border-top: 2px solid var(--c1);
	font-size: 11px;
	font-style: italic;
	padding: 15px 0;
}
footer p {
	width: 960px;
	margin: 0 auto;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
@media (max-width: 999.9px) {
	footer p {
		width: 800px;
	}
}
@media (max-width: 799.9px) {
	footer p {
		width: 640px;
		border-left-width: 10px;
		border-right-width: 10px;
	}
}
@media (max-width: 639.9px) {
	footer {
		border-top-color: var(--c0);
	}
	footer p {
		width: 100%;
		padding: 0 15px;
		border: 0;
	}
}



.wrapper {
	background-color: var(--c2);
	width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 15px 0;
	border: 2px solid var(--c1);
	border-top: 0;
	border-bottom: 0;
}
@media (max-width: 999.9px) {
	.wrapper {
		width: 800px;
	}
}
@media (max-width: 799.9px) {
	.wrapper {
		width: 640px;
		padding: 10px 0;
	}
}
@media (max-width: 639.9px) {
	.wrapper {
		width: 100%;
		border: 0;
	}
}




.row:nth-of-type(1) {
	margin: 0 15px 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0 15px;
	grid-template-areas: "education about";
}
@media (max-width: 799.9px) {
	.row:nth-of-type(1) {
		margin: 0 10px 10px;
		gap: 0 10px;
	}
}
@media (max-width: 639.9px) {
	.row:nth-of-type(1) {
		margin: 5px 15px 15px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px 0;
		grid-template-areas: "education" "about";
	}
}
.education { grid-area: education; }
.about { grid-area: about; }

.education span {
	display: block;
	font-size: 13px;
}
.education span::before {
	content: '\2237\2009';
	font-size: 18px;
	line-height: 1;
}
time {
	display: block;
	width: 100%;
	color: var(--c1);
	font-size: 11px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 5px;
}
dfn {
	font-style: unset;
	line-height: 1;
}
dfn b {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -1px;
}

u {
	line-height: 1.2;
	text-decoration-thickness: .1ch;
}
u small {
	display: block;
}

details {
	font-size: 13px;
}
summary {
	font-weight: 600;
	text-decoration: underline;
	text-decoration-thickness: .2ch;
}
details p {
	padding: 0 0 0 14px;
	font-size: 11px;
}

hr {
	border: 0;
	height: 1px;
	margin: 5px 0;
	background-color: var(--c2);
}
div ~ hr {
	height: 2px;
	margin: 10px 0;
	background-color: var(--c1);
}



.row:nth-of-type(2) {
	margin: 0 15px 15px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0 15px;
	grid-template-areas: "work";
}
@media (max-width: 799.9px) {
	.row:nth-of-type(2) {
		margin: 0 10px 10px;
	}
}
@media (max-width: 639.9px) {
	.row:nth-of-type(2) {
		margin: 0 15px 15px;
	}
}
.work {
	grid-area: work;
}



.row:nth-of-type(3) {
	margin: 0 15px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr;
	gap: 0 15px;
	grid-template-areas: "skills contact";
}
@media (max-width: 799.9px) {
	.row:nth-of-type(3) {
		margin: 0 10px;
		gap: 0 10px;
	}
}
@media (max-width: 639.9px) {
	.row:nth-of-type(3) {
		margin: 0 15px 5px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 15px 0;
		grid-template-areas: "skills" "contact";
	}
}
.skills { grid-area: skills; }
.contact { grid-area: contact; }
.skills .content {
	column-count: 3;
	column-gap: 10px;
	font-size: 11px;
}
.skills .content div[name*='group'] {
	margin-bottom: 5px;
	break-inside: avoid;
}
.skills .content span[name='a'] { display: none; }
.skills .content span[name='b'] { display: none; }
.skills .content span[name='c'] { display: inline; }
@media (max-width: 999.9px) {
	.skills .content {
		column-count: 2;
	}
	.skills .content div[name*='group'] {
		margin-bottom: 10px;
	}
	.skills .content span[name='a'] { display: inline; }
	.skills .content span[name='b'] { display: inline;	}
	.skills .content span[name='c'] { display: none;	}
}
@media (max-width: 799.9px) {
	.skills .content span[name='a'] { display: none; }
	.skills .content span[name='b'] { display: none;	}
	.skills .content span[name='c'] { display: inline;	}
}
@media (max-width: 639.9px) {
	.skills .content span[name='a'] { display: inline; }
	.skills .content span[name='b'] { display: inline;	}
	.skills .content span[name='c'] { display: none;	}
	.skills .content {
		column-count: 2;
	}
}
.prog, .prog > div {
	display: inline-block;
	width: 30%;
	height: 10px;
}
.prog {
	background: var(--c2);
	border: 1px solid var(--c0);
	vertical-align: middle;
	margin-right: .2ch;
}
.prog > div {
	position: absolute;
	height: 8px;
	background: var(--c1);
	opacity: 0.6;
}
